.d-flex button {
    width: 40px;
    background-color: #d9b686;
    border: none;
    border-radius: 1rem;
    color: white;
}

.d-flex button:hover {
    width: 40px;
    background-color: #bd8843;
}

.d-flex button:focus {
    box-shadow: 0 0 0 0.25rem #d9b68625;
}
